<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="join.js"></script>
    <script defer src="script.js"></script>

    <title>Chips.io</title>
</head>
<body>
        <div id="roomError" style="color: red"></div>
        <form id="joinForm">
            <input id="joinRoomID" placeholder="Lobby ID" required autocomplete="on"/>
            <input id="joinUsername" placeholder="Display Name" required autocomplete="on"/>
            <button type="submit">Join</button>
        </form>

        <div id="hostBtn">
            <form action="/host">
                <label>Host a game instead?</label>
                <button>Host</button>
            </form>
        </div>
</body>
</html>