<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="play.js"></script>
    <script defer src="script.js"></script>
    <title>Chips.io</title>
</head>
<body>  
       
       <div id="lobbyTitle">Welcome to <%= roomName %>. Lobby ID <%= roomID %></div>
</body>
</html>